<div id="content-header">
    <div id="content-header-title">
        <h1>{{device.advertisement.localName}}</h1>
    </div>
</div>

<div id="content-body" class="device-informations">

    <section id="device-informations">

        <ul class="tab">
            <li link="/devices/{{device.id}}/general" ng-class="{selected: tabSelected == 'general'}">General</li><!--
            --><li link="/devices/{{device.id}}/services" ng-class="{selected: tabSelected == 'services'}">Services</li>
        </ul>

        <div id="tab-general" ng-show="tabSelected == 'general'">

            <h1>General Informations</h1>

            <table class="dataset keyvalue">
                <tbody>
                <tr>
                    <td>Identifier</td>
                    <td>{{device.id}}</td>
                </tr>
                <tr>
                    <td>UUID</td>
                    <td>{{device.uuid}}</td>
                </tr>
                <tr>
                    <td>RSSI</td>
                    <td>{{device.rssi}}</td>
                </tr>
                <tr>
                    <td>Created At</td>
                    <td>{{reformatDate(device.createAt)}}</td>
                </tr>
                </tbody>
            </table>

            <h1>Advertisement Informations</h1>

            <table class="dataset keyvalue">
                <tbody>
                <tr>
                    <td>Local name</td>
                    <td>{{device.advertisement.localName}}</td>
                </tr>
                <tr>
                    <td>Tx Power Level</td>
                    <td>{{device.advertisement.txPowerLevel}}</td>
                </tr>
                <tr>
                    <td>Manufacturer Data</td>
                    <td>{{device.advertisement.manufacturerData}}</td>
                </tr>
                <tr>
                    <td>Service Data</td>
                    <td>{{device.advertisement.serviceData}}</td>
                </tr>
                </tbody>
            </table>



            <h1>Beacon Informations</h1>

            <table class="dataset keyvalue">
                <tbody>
                <tr>
                    <td>Major</td>
                    <td>{{device.beaconData.major}}</td>
                </tr>
                <tr>
                    <td>Minor</td>
                    <td>{{device.beaconData.major}}</td>
                </tr>
                <tr>
                    <td>Measured Power</td>
                    <td>{{device.beaconData.measuredPower}}</td>
                </tr>
                <tr>
                    <td>Accuracy</td>
                    <td>{{device.beaconData.accuracy}}</td>
                </tr>
                <tr>
                    <td>Proximity</td>
                    <td>{{device.beaconData.proximity}}</td>
                </tr>
                </tbody>
            </table>

            <h1>Service UUIDs</h1>

            <table class="dataset keyvalue">
                <tbody>
                <tr ng-repeat="serviceUuid in device.advertisement.serviceUuids">
                    <td>{{serviceUuid}}</td>
                </tr>
                </tbody>
            </table>

        </div>

        <div id="tab-services" ng-show="tabSelected == 'services'">

            <h1>Services Informations</h1>

            <section id="tab-service-list">

                <table class="dataset list">
                    <thead>
                    <tr>
                        <th>uuid</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="service in device.advertisement.services" ng-class="{selected: selectedService.uuid == service.uuid}">
                        <td ng-click="selectService(service)">
                            <div><a scroll-to='service-{{service.uuid}}'>{{service.uuid}} - {{serviceLabel(service.name)}}</a></div>
                            <div>{{service.type}}</div>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </section>

            <section id="tab-service-details">

                <table class="dataset keyvalue">
                    <thead>
                    <tr>
                        <th>uuid</th>
                        <th>name</th>
                        <th>type</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{selectedService.uuid}}</td>
                        <td>{{selectedService.name}}</td>
                        <td>{{selectedService.type}}</td>
                    </tr>
                    </tbody>
                </table>

                <h2>Characteristics</h2>

                <div id="service-{{selectedService.uuid}}-characteristics" class="service-characteristics">
                    <table class="dataset keyvalue">
                        <thead>
                        <tr>
                            <th>uuid</th>
                            <th>name</th>
                            <th>type</th>
                            <th>last value</th>
                            <th>properties</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-click="selectCharacteristic(characteristic)"
                            ng-repeat="characteristic in selectedService.characteristics"
                            ng-class="{selected: selectedCharacteristic.uuid == characteristic.uuid}">
                            <td><a scroll-to='service-{{selectedService.uuid}}-characteristic-{{characteristic.uuid}}'>{{characteristic.uuid}}</a></td>
                            <td>{{characteristic.name}}</td>
                            <td>{{characteristic.type}}</td>
                            <td>{{read.devices[device.uuid].services[selectedService.uuid].characteristics[characteristic.uuid]}}</td>
                            <td>
                                <ul>
                                    <li ng-repeat="property in characteristic.properties">
                                        <a href="" ng-click="executeCharacteristicProperty(device, selectedService, characteristic, property)">{{property}}</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        </tbody>
                    </table>


                    <div id="service-{{selectedService.uuid}}-characteristic-{{selectedCharacteristic.uuid}}">
                        <h3>Characteristic with uuid: '{{selectedCharacteristic.uuid}}' Informations</h3>

                        <table class="dataset keyvalue">
                            <thead>
                            <tr>
                                <th>uuid</th>
                                <th>name</th>
                                <th>type</th>
                                <th>last value</th>
                                <th>properties</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{selectedCharacteristic.uuid}}</td>
                                <td>{{selectedCharacteristic.name}}</td>
                                <td>{{selectedCharacteristic.type}}</td>
                                <td>{{read.devices[device.uuid].services[selectedService.uuid].characteristics[selectedCharacteristic.uuid]}}</td>
                                <td>
                                    <ul>
                                        <li ng-repeat="selectedCharacteristicProperty in selectedCharacteristic.properties">
                                            <a href="" ng-click="readCharacteristic(device, selectedService, selectedCharacteristic, selectedCharacteristicProperty)">{{selectedCharacteristicProperty}}</a>
                                        </li>
                                    </ul>
                                </td>

                            </tr>
                            </tbody>
                        </table>

                        <h4>Descriptors</h4>

                        <div id="service-{{selectedService.uuid}}-characteristic-{{selectedCharacteristic.uuid}}-descriptors">
                            <table class="dataset keyvalue">
                                <thead>
                                <tr>
                                    <th>uuid</th>
                                    <th>name</th>
                                    <th>type</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="descriptor in selectedCharacteristic.descriptors">
                                    <td>{{selectedCharacteristic.uuid}}</td>
                                    <td>{{selectedCharacteristic.name}}</td>
                                    <td>{{selectedCharacteristic.type}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </section>

        </div>

    </section>

</div>