<div id="content-header">
    <div id="content-header-title">
        <h1>{{device.advertisement.localName}}</h1>
    </div>
</div>

<div id="content-body" class="device-informations">

    <section id="device-informations">

        <ul class="tab">
            <li ng-click="tabSelected = 'general'" ng-class="{selected: tabSelected == 'general'}">General</li><!--
            --><li ng-click="tabSelected = 'services'" ng-class="{selected: tabSelected == 'services'}">Services</li>
        </ul>

        <div id="general-data" ng-show="tabSelected == 'general'">
            <h1>General Informations</h1>

            <table class="dataset keyvalue">
                <tbody>
                <tr>
                    <td>Identifier</td>
                    <td>{{device.id}}</td>
                </tr>
                <tr>
                    <td>UUID</td>
                    <td>{{device.uuid}}</td>
                </tr>
                <tr>
                    <td>RSSI</td>
                    <td>{{device.rssi}}</td>
                </tr>
                <tr>
                    <td>Created At</td>
                    <td>{{reformatDate(device.createAt)}}</td>
                </tr>
                </tbody>
            </table>

            <h1>Advertisement Informations</h1>

            <table class="dataset keyvalue">
                <tbody>
                <tr>
                    <td>Local name</td>
                    <td>{{device.advertisement.localName}}</td>
                </tr>
                <tr>
                    <td>Tx Power Level</td>
                    <td>{{device.advertisement.txPowerLevel}}</td>
                </tr>
                <tr>
                    <td>Manufacturer Data</td>
                    <td>{{device.advertisement.manufacturerData}}</td>
                </tr>
                <tr>
                    <td>Service Data</td>
                    <td>{{device.advertisement.serviceData}}</td>
                </tr>
                </tbody>
            </table>

            <h1>Beacon Informations</h1>

            <table class="dataset keyvalue">
                <tbody>
                <tr>
                    <td>Major</td>
                    <td>{{device.beaconData.major}}</td>
                </tr>
                <tr>
                    <td>Minor</td>
                    <td>{{device.beaconData.major}}</td>
                </tr>
                <tr>
                    <td>Measured Power</td>
                    <td>{{device.beaconData.measuredPower}}</td>
                </tr>
                <tr>
                    <td>Accuracy</td>
                    <td>{{device.beaconData.accuracy}}</td>
                </tr>
                <tr>
                    <td>Proximity</td>
                    <td>{{device.beaconData.proximity}}</td>
                </tr>
                </tbody>
            </table>

        </div>

        <div id="services" ng-show="tabSelected == 'services'">
            <h1>Services Informations</h1>

            <table class="dataset keyvalue">
                <thead>
                <tr>
                    <th>uuid</th>
                    <th>name</th>
                    <th>type</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="service in device.advertisement.services">
                    <td><a scroll-to='service-{{service.uuid}}'>{{service.uuid}}</a></td>
                    <td>{{service.name}}</td>
                    <td>{{service.type}}</td>
                </tr>
                </tbody>
            </table>

            <h1>Service UUIDs</h1>

            <table class="dataset keyvalue">
                <tbody>
                <tr ng-repeat="serviceUuid in device.advertisement.serviceUuids">
                    <td>{{serviceUuid}}</td>
                </tr>
                </tbody>
            </table>

        </div>

    </section>

</div>