<div id="content-header">
    <div id="content-header-title">
        <h1>Devices</h1>
    </div>
    <div id="content-header-actions">
        <span class="btn" ng-click="createDevice()">Discover</span>
    </div>
</div>

<table class="dataset">
    <thead>
    <tr>
        <th>id</th>
        <th>UUID</th>
        <th>localName</th>
        <th>manufacturerData</th>
        <th>txPowerLevel</th>
        <th>rssi</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr  ng-repeat="device in devices">
        <td>{{device.id}}</td>
        <td>{{device.uuid}}</td>
        <td>{{device.advertisement.localName}}</td>
        <td>{{device.advertisement.txPowerLevel}}</td>
        <td>{{device.advertisement.manufacturerData}}</td>
        <td>{{device.rssi}}</td>
        <td>
            <a href="#/devices/{{device.id}}/updateForm">Edit</a> -
            <a href="#/devices/{{device.id}}/delete">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
